<!DOCTYPE html>
<html>
    
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        
        <!-- Core Bootstrap 
        <link rel="stylesheet" href="css/bootstrap.min.css">
        -->
        
        <!-- Custom Styles -->
        <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/styles.css') }}">
        
        <title>Cashman</title>
        <link rel="shortcut icon" href="#">
    </head>
    
    <body>
        <p>Today is: {{ Today }}</p>
    
        <p>Transaction History: {{ Balance }}</p>
        
        <img src="http://mattrichardson.com/images/flask.png" alt="flask logo">
        
    </body>
</html>