body
{
    font-family: "Courier New";
    background-color: #505050;
}

p
{
    color: #cccccc;
}

.social_link {
    mx-auto;
}

.social_icon {
    height: 32px;
    width: 32px;
}

.footer-background {
    background-color: #9DC183;
}

.footer-accent {
    
}
