{% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
{% endblock %}

{% block footer %}

 <!-- Footer -->
    <footer class="footer navbar-fixed-bottom">

        <!-- Footer Links -->
        <div class="text-muted">
            <div class="container-fluid">
            
                <ul class="nav navbar-nav navbar-left">
                
                    <li>
                        <a href="http://flask.pocoo.org/">made with flask</a>
                    </li>
                    
                    <li>
                        <a href="https://www.python.org/">powered by python</a>
                    </li>
                    
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        
                        <a class="donate"href="https://twitch.streamlabs.com/alwaysjacob">
                            donate
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Footer Links -->

    </footer>


{% endblock %}