{% include 'base.html' %}
{% block body %}
    {% include 'navbar.html' %}
    <div class="container-fluid">
        {% block content %}
        <div class="jumbotron">
            <h2>{{ Today }} </h2>
            <h3>what's your weekend looking like?</h3>
            <p>
                drop your name and availability
            </p>
            
            {% include 'flash.html' %}
            
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(size=32) }}<br>
                    {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.friday.label }}<br>
                    {{ form.friday() }}
                </p>
                <p>
                    {{ form.saturday.label }}<br>
                    {{ form.saturday() }}
                </p>
                <p>
                    {{ form.sunday.label }}<br>
                    {{ form.sunday() }}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
        {% endblock %}
    </div>
    {% include 'footer.html' %}
{% endblock %}

